:root{
    --white: hsl(0, 0%, 100%);
    --dark-blue: hsl(236, 21%, 26%);
    --background-blue: hsl(235, 16%, 14%);
    --black: hsl(234, 17%, 12%);
    --grey-blue: 237, 18%, 59%;
    --soft-red: hsl(345, 95%, 68%);
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font: inherit;
}

img, svg {
    display: block;
    max-width: 100%;
}

body {
    background-color: var(--background-blue);
    background-image: url(assets/images/pattern-hills.svg), url(assets/images/bg-stars.svg);
    background-position: center bottom, center top;
    background-repeat: repeat-x, no-repeat;
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 700;
    font-size: .4375rem;
    letter-spacing: .185rem;
    color: hsl(var(--grey-blue));
    text-align: center;
    text-transform: uppercase;
    height: 100vh;
}

#background-image {
    position: absolute;
    z-index: -1;
}

header {
    padding: 8.875rem 1.5rem 3.375rem 1.5rem;
}

h1 {
    color: var(--white);
    font-size: 1.125rem;
    letter-spacing: .38375rem;
}

main {
    padding: 0 1.5rem;
}

.clock-container { 
    display: grid;
    grid-template-columns: 21.5% 21.5% 21.5% 21.5%;
    grid-template-rows: 4.14rem auto;
    margin: auto;
    gap: .875rem 4.666%;
    min-width: 20.4375rem;
    max-width: 25rem;
    height: 5.75rem;
    place-content: center;
}

.clock-container>div {
    background-color: var(--dark-blue);
    border-radius: .5rem;
    box-shadow: 0 4.7.1875rem var(--black);
}

.clock-digits.lower-panel {
    background-color: hsla(var(--grey-blue), 15%);
    border-radius: .5rem;
    display: flex;
    flex-flow: column-reverse;
}
/* 
#clock-days .clock-perspective-plane{
    transform: perspective(9cm) rotateX(0deg) rotateY(0deg);
}

#clock-hours .clock-perspective-plane{
    transform: perspective(9cm) rotateX(0deg) rotateY(0deg);
}

#clock-minutes .clock-perspective-plane{
    transform: perspective(9cm) rotateX(0deg) rotateY(0deg);
}

#clock-seconds .clock-perspective-plane{
    transform: perspective(9cm) rotateX(0deg) rotateY(0deg);
}

.clock-perspective-plane {
    display: none;
    font-size: 2.25rem;
    color: var(--soft-red);
    line-height: 66.27px;
    height: 50%;
    overflow: hidden;
    margin-top: -33.135px;
    transform-origin: bottom;
    transform-style: preserve-3d;
    background-color: var(--dark-blue);
    border-radius: .5rem;
} */

.plane-ellipsis {
    display: flex;
    justify-content: space-between;
    margin-top: -2.25rem;
    overflow: hidden;
}

.plane-ellipsis>div {
    width: .375rem;
    height: .375rem;
    background-color: var(--black);
    border-radius: 50%;
    margin-left: -.1875rem;
}

.plane-ellipsis>div:last-child{
    margin-right: -.1875rem;
}
/* use when rotation is greater then 90 selector for javascript .clock-perspective-plane div:first-child 
.back {
    background-color: hsla(var(--grey-blue), 15%);
    transform: scaleY(-1); 
} */

.clock-digits {
    font-size: 2.25rem;
    color: var(--soft-red);
    line-height: 4.14rem;
    height: 50%;
    overflow: hidden;
}
  
footer {
    position: absolute;
    bottom: 3.125rem;
    transform: translateX(-50%);
    left: 50%;
    width: 100%;
}    

footer>div i {
    font-size: 1.5rem;
}
footer>div i:hover, footer>div i:focus {
    color: var(--soft-red);
    cursor: pointer;
}

.attribution {
    letter-spacing: .09375rem;
    text-align: center;
    width: 100%;
    color: hsl(var(--grey-blue));
    margin-top: 1.25rem; 
}

.attribution a {
    color: var(--dark-blue);
    letter-spacing: .09375rem;
    text-align: center;
    text-decoration: none;
}

@media (min-width: 650px) {
    body {
        font-size: .875rem;
        letter-spacing: .37rem;
    }
    
    header {
        padding: 8.4375rem 1.5rem 6.5rem 1.5rem;
    }
    
    h1 {
        font-size: 1.375rem;
        letter-spacing: .46875rem;
    }
    .clock-container { 
        max-width: 43rem;
        height: 11.5rem;
        grid-template-rows: 8.75rem auto;
    }

    .clock-container>div {
        box-shadow: 0 .625rem var(--black);
    }
    
    /* .clock-perspective-plane {
        font-size: 5rem;
        line-height: 8.75rem;
        margin-top: -4.375rem;
    } */

    .clock-digits {
        font-size: 5rem;
        line-height: 8.75rem;
    }
    .plane-ellipsis {
        display: flex;
        justify-content: space-between;
        margin-top: -4.75rem;
        overflow: hidden;
    }
    
    .plane-ellipsis>div {
        width: .75rem;
        height: .75rem;
        background-color: var(--black);
        border-radius: 50%;
        margin-left: -.375rem;
    }
    
    .plane-ellipsis>div:last-child{
        margin-right: -.375rem;
    } 

    .attribution {
        letter-spacing: .1875rem;
    }
}